# Ignore everything
/*
/*/

# Except
!/.git/
!/Assets/
!/ProjectSettings/
!/UnityPackageManager/
!/WPF and Library/
!/.gitignore
!/README.md

# Additionally ignore the following
/Assets/AssetStoreTools*
*.apk
*.unitypackage

# Remove obj/bin from subprojects
**/[Oo]bj/
**/[Bb]in/
**/[Pp]ackges/